<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imagefilters">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="replace"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        tools:node="replace"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.INTERNET"
        tools:node="replace"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="replace"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Imagefilters"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilterImage"
            android:exported="false" />
    </application>

</manifest>